**- Theory Questions:**

Ques 1.What are data structures, and why are they important?

Ans.
- Python data structure are the way of organizing data with a proper manner and sequence.
    - the most commonly used data structures in python are:-
           - lists
           - tuples
           - sets
           - dictionary
           - array
    - Python data structures are very important because they gives us capability to store and manage real world data.


Ques 2.Explain the difference between mutable and immutable data types with examples.

Ans.
- mutable: mutable data types are those which can be changed or their items can be replaced.
          Examples of mutable data types: lists, dict, sets etc.

- immutable: immutable data types are those which can't be changed or their items can't be replaced.
          Examples of immutable data types: str, int, float, tuples etc.


Ques 3.What are the main differences between lists and tuples in Python?

Ans. lists are mutable and tuples are immutable


ques 4.Describe how dictionaries store data.

Ans. dictionaries stores data in the form of key:value pairs
     - For Example: dict1 = {"aman":45, "nancy":89, "manoj":55} # here students marks are stored in the form of key:value pairs where
       aman is the key and 45 is its value.

Ques 5.Why might you use a set instead of a list in Python?

Ans. because sometimes we need to store unique items among different types of same items.


Ques 6.What is a string in Python, and how is it different from a list?

Ans.

    - strings are collection of characters quoted with single quote , double
      quote or triple quote.
    - string is a type of data type in python.
    - strings are stored inside single quote , double quote or triple quote (''/""/''') while lists are stored
      inside square brackets []


Ques 7.How do tuples ensure data integrity in Python?

Ans. Tuples ensures data integrity by being immutable, which means once created, their values can’t be changed.


Ques 8.What is a hash table, and how does it relate to dictionaries in Python?

Ans.
    
    - hash table is a implementaion of dictionary.
    - it also stores key:value pair like dictionary.
    - its elements are accessed using hash function.


Ques 9.Can lists contain different data types in Python?

Ans. yes, it stores many different data types in python like- str, int, float, complex etc.


Ques 10.Explain why strings are immutable in Python.

Ans. strings are immutable because sometimes we want to store someones name , address etc and we don't want it to change the
     information.


Ques 11.What advantages do dictionaries offer over lists for certain tasks?

Ans. - dictionaries stores items in key:value pairs which is more understanding and accesible to the user while list stores the
       elements in a hierarical manner which is little bit stressful to find elements.


Ques 12.Describe a scenario where using a tuple would be preferable over a list.

Ans. suppose that we want to store employee id's and employee id can't be changed , in this case we use tuples because tuples are
     immutable.we can't use list because lists are immutable.


Ques 13.How do sets handle duplicate values in Python.

Ans. Sets considered duplicate values only one time. means that if there is the same element many times in a set it prints the
     element only one time.


Ques 14.How does the “in” keyword work differently for lists and dictionaries?

Ans. we can access any item of the list using "in" keyword by giving the item name of the list but in dictionary we have to specify
     only the key of that value to access it.



Ques 15.Can you modify the elements of a tuple? Explain why or why not.

Ans. No, we can not modify the elements of the tuple because tuples are immutable(can't be changed) data type in python and they are
     set to be un changed by the python language.


Ques 16.What is a nested dictionary, and give an example of its use case?

Ans. A dictionary inside a dictionary is known by nested dictionary
     Use Case: suppose that we need to store a user's information and there are many section in that so we use specific dictionary
               for specific section and store these dictionary into a one dictionary.




Ques 17.Describe the time complexity of accessing elements in a dictionary.

Ans. Accessing elements in a dictionary by key has average-case time complexity of O(1).


Ques 18.In what situations are lists preferred over dictionaries.
Ans.
    
    - The order of items matters (lists preserve insertion order).

    - You need to store sequential data (e.g., [1, 2, 3, 4]).

    - You want to iterate over items without needing a key.

    - You don't need key-based access — just positions (indexes).


Ques 19.Why are dictionaries considered unordered, and how does that affect data retrieval.

Ans. Dictionaries were considered unordered because the order of items was not guaranteed. You could not rely on the insertion order
     of keys.


Ques 20.Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. A list retrieves data using integer indexes, where each element is  
     accessed by its position (e.g., list[0]), while a dictionary
     retrieves data using unique keys, where each value is accessed by its associated key (e.g., dict["name"]).

**- Practical Questions:**

In [3]:
'''Ques 1.Write a code to create a string with your name and print it.'''
'''Ans'''
my_name = "Lavkush"
print(my_name)

Lavkush

In [4]:
'''Ques 2.Write a code to find the length of the string "Hello World".
Ans'''
string = "Hello World"
print("The length of the string is:", len(string) )

The length of the string is: 11

In [5]:
'''Ques 3.Write a code to slice the first 3 characters from the string "Python Programming".
Ans.'''
string = "Python Programming"
print("The first three characters are: ",string[:3])

The first three characters are:  Pyt

In [6]:
'''Ques 4.Write a code to convert the string "hello" to uppercase.
Ans.'''
string = "hello"
string.upper()

'HELLO'

In [7]:
'''Ques 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
Ans.'''
string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [8]:
'''Ques 6.Write a code to create a list with numbers 1 to 5 and print it.
Ans.'''
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
'''Ques 7.Write a code to append the number 10 to the list [1, 2, 3, 4].
Ans.'''
list = [1, 2, 3, 4,]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [10]:
'''Ques 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
Ans.'''

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [11]:
'''Ques 9.Write a code to access the second element in the list ['a', 'b', 'c','d'].
Ans.'''
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [12]:
'''Ques 10.Write a code to reverse the list [10, 20, 30, 40, 50].
Ans.'''
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [13]:
'''Ques 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
Ans.'''
elements = (100, 200, 300)
print(elements)
type(elements)

(100, 200, 300)

tuple

In [14]:
'''Ques 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
Ans.'''
elements = ('red', 'green', 'blue', 'yellow')
elements[1:]

('green', 'blue', 'yellow')

In [15]:
'''Ques 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
Ans.'''
Tuple = (10, 20, 5, 15)
min(Tuple)

5

In [16]:
'''Ques 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
Ans.'''
Tuple = ('dog', 'cat', 'rabbit')

Tuple.index('cat')

1

In [17]:
'''Ques 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
Ans.'''
fruits = ("apple", "orange", "kiwi")
if "kiwi" in fruits:
    print("yes, kiwi is present")
else:
    print("No, kiwi is not present")

yes, kiwi is present

In [18]:

'''Ques 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
Ans.'''
elements = {'a', 'b', 'c'}
print(elements)
type(elements)

{'a', 'b', 'c'}

set

In [19]:
'''Ques 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
Ans.'''
elements = {1, 2, 3, 4, 5}
elements.clear()
print(elements)

set()

In [20]:
'''Ques 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
Ans.'''

elements = {1, 2, 3, 4}
elements.remove(4)
elements

{1, 2, 3}

In [21]:
'''Ques 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
Ans.'''

s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [22]:
'''Ques 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
Ans.'''

s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.intersection(s2)

{2, 3}

In [23]:
'''Ques 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
Ans.'''

dict1 = {"name":"lavkush", "age":23, "city":"prayagraj"}
dict1

{'name': 'lavkush', 'age': 23, 'city': 'prayagraj'}

In [24]:
'''Ques 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
Ans.'''

dictionary = {'name':'John', 'age':25}
dictionary["country"] = "USA"
dictionary

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
'''Ques 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
Ans.'''

dictionary = {'name': 'Alice', 'age': 30}
dict2 = dictionary["name"]
dict2

'Alice'

In [26]:
'''Ques 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
Ans.'''

dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary.pop("age")
dictionary

{'name': 'Bob', 'city': 'New York'}

In [27]:
'''Ques 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
Ans.'''

dictionary = {'name': 'Alice', 'city': 'Paris'}
if "city" in dictionary:
    print(True)
else:
    print(False)

True

In [28]:
'''Ques 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
Ans.'''

list1 = ["a", 1, 3.25]
dictionary = {1:1, 6:36}
tuples = (1, 2, 3, 5)
print("list:",list1)
print("dictionary:",dictionary)
print("tuple:",tuples)

list: ['a', 1, 3.25]
dictionary: {1: 1, 6: 36}
tuple: (1, 2, 3, 5)

In [29]:
'''Ques 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.
Ans.'''

import random
numbers = random.sample(range(1,101),5)
numbers.sort()
print(numbers)

[2, 15, 47, 59, 99]

In [30]:
'''Ques 28.Write a code to create a list with strings and print the element at the third index.
Ans.'''

lists = ["aman", "rohan", "manoj", "raju", "meenal"]
lists[3]

'raju'

In [31]:
'''Ques 29.Write a code to combine two dictionaries into one and print the result.
Ans.'''

dict1 = {"aman":86, "rohan":98, "manoj":66, }
dict2 = {"raajma":86, "poha":98, "jalebi":66, }
dict3 =dict1 | dict2
dict3

{'aman': 86, 'rohan': 98, 'manoj': 66, 'raajma': 86, 'poha': 98, 'jalebi': 66}

In [ ]:
'''Ques 30.Write a code to convert a list of strings into a set.
Ans.'''

lists = ["aman", "rohan", "manoj", "raju", "meenal"]
new_list = set(lists)
new_list